# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtual environments
venv/
.env/

# Ignore Streamlit cache
.streamlit/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.sqlite3